/* css body e header */

header {
    background: url("img/bg.jpg");
    padding: 0 0 0 5px;
}

.caixa-cor{
    color: #ffffff;
    font-size: 23px;
}

.caixa {
    position: relative;
    width: 1230px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 120px;
    max-width: 40%;
    flex-flow: wrap;

}

nav li {
    display: inline;
    margin: 0 0 0 15px ;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

/* css da página inicial */
.banner {
    width: 700px;
    height: 397px;
    margin: auto;
    display: flex;
}

.banner2{
    width: 640px;
    height: 340px;
    margin: auto;
    display: flex;
}

.titulo-principal { 
    text-align: center;
    font-size: 29px; /* 2x o tamanho base */
    margin:  2 2em;/* margem proporcional a fonte */
    clear: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.principal h5{
    font-size: 18px;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 980px;
    margin: 0 auto;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal p {
    margin: 0 0 1.0em;
    font-size: 19px;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 160px;
    float: left;
    margin: 0 15px 15px 0;
}

.mapa {
    padding: 0 10em 0;
    background: linear-gradient(#fefefece,#8d8d8d);
}

.mapa-conteudo {
    width: 100%;
    margin: 0 auto;
}


.mapa p {
    margin: 0 0 1em;
    text-align: center;
    font-size: 19px;
}

.beneficios {
    padding: 3em 0;
    background: linear-gradient(#888888c7, #ececec)

}

.conteudo-beneficios {
    width: 630px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height:2.0;
    display: block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.itens:first-child {
    font-weight:bold
}

.itens::before {
    content: "🟊";
}

.imagem-beneficios {
    width: 74%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 5px 5px 5px  #000000;
    display: inline-block;
}

.imagem-beneficios:hover {
    opacity: 0.3;
}


/* css da página produtos */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 15px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
} 

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 32px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* css footer e copyright  */
footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 45px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 20px;
}

.copyright2 {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
}

/* css da página contato */
.main-contato {
    width: 940px;
    margin: 0 auto;
} 

form{
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 22px;
    margin-bottom: 13px;
}

/*Horários*/

table {
    margin: 20px 0 50px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 3px solid #000000;
    padding: 10px 25px;
}

.horarios{
    font-size: 20px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/*Formulário*/

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background:url("img/bg.jpg");
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.forms h2{
    color:#f5f5f5f5;
    font-size: 32px;
    margin: 2rem;
}

.froms form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #f5f5f5;
    font-size: 15;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 13px;
    cursor: pointer;
    font-size: 19px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif
}

form button:hover{
    background: #f5f5f5f5;
    color: #101026;
    border-radius: 16px;
   
}

/*Página de Obrigado*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("img/bg.jpg");
    flex-direction: column;    
}

.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}

.paragrafo{
    font-size: 15px;
    color: #f5f5f5;
    margin-bottom: 50px;
}

.btm{
    padding: 15px 55px;
    background: #f5f5f5;
    color:#101026;
    font-size: 18px;
    transition:all 0.5s;
}

.btm:hover{
    border-radius: 16px;
}


@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produtos {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    .lista-beneficios, .imagem-beneficios, .imagem-produtos, form {
        width: 100%;
    }

    .produtos li {
        display: block;
        width: auto;
        margin: 30px;
    }

    .main-contato {
        width: auto;
        margin-left: 3em;
    }

    .input-padrao {
        width: 70%;
    }

    .enviar {
        width: auto;
    }
}

img{
    max-width: 90%;
}